In [1]:
import pandas as pd

In [2]:
df_employee = pd.read_csv("3_model_development_employee.csv")
df_employee

,Age,DailyRate,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,OverTime_No,OverTime_Yes,Attrition
0,42.000000,1368.000000,28.000000,4.000000,88.000000,2.000000,2.000000,4.000000,4523.000000,4386.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0
1,25.000000,309.000000,2.000000,3.000000,82.000000,3.000000,1.000000,2.000000,2187.000000,19655.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0
2,29.000000,1396.000000,10.000000,3.000000,99.000000,3.000000,1.000000,3.000000,2642.000000,2755.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,1.000000,1.000000,0.000000,0
3,29.000000,986.000000,3.000000,2.000000,93.000000,2.000000,3.000000,3.000000,11935.000000,21526.000000,...,0.000000,0.0,0.0,1.0,0.000000,0.000000,0.000000,1.000000,0.000000,0
4,50.000000,854.000000,1.000000,4.000000,68.000000,3.000000,5.000000,4.000000,19517.000000,24118.000000,...,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,26.008398,138.470606,16.173665,3.834733,57.445411,3.165267,1.000000,2.834733,2447.215954,25638.195863,...,0.000000,0.0,0.0,0.0,0.834733,0.000000,0.165267,0.165267,0.834733,1
470,39.000000,1153.087248,2.984364,3.953091,41.203273,2.984364,1.984364,2.968727,5213.106840,17768.665065,...,0.015636,0.0,0.0,0.0,0.000000,0.984364,0.000000,0.000000,1.000000,1
471,35.612788,359.576599,20.882993,3.423401,91.306394,3.423401,1.000000,1.000000,3502.615396,21874.978424,...,0.000000,0.0,0.0,0.0,0.576599,0.000000,0.000000,1.000000,0.000000,1
472,24.318104,531.314693,11.159052,3.394882,81.974408,2.210237,1.000000,2.210237,2063.137252,13912.972892,...,0.605118,0.0,0.0,0.0,0.394882,0.000000,0.000000,0.605118,0.394882,1
473,21.228370,504.085608,9.456740,2.293488,70.293488,2.706512,1.000000,3.413024,1855.737947,18384.781419,...,0.000000,0.0,0.0,0.0,0.293488,0.000000,0.706512,0.293488,0.706512,1

In [3]:
from sklearn.model_selection import train_test_split

df_employee_train, df_employee_test = train_test_split(
    df_employee, test_size=0.3, random_state=123)
df_employee_val, df_employee_test = train_test_split(
    df_employee, test_size=0.5, random_state=123)

In [4]:
from sklearn.dummy import DummyClassifier
dummy_employee = DummyClassifier(strategy="most_frequent")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
dummy_employee.score(df_employee_val, df_employee_val["Attrition"])

0.5063291139240507

In [5]:
dummy_employee = DummyClassifier(strategy="stratified")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
dummy_employee.score(df_employee_val, df_employee_val["Attrition"])

0.5443037974683544

In [6]:
dummy_employee = DummyClassifier(strategy="uniform")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
dummy_employee.score(df_employee_val, df_employee_val["Attrition"])

0.5358649789029536

In [7]:
dummy_employee = DummyClassifier(strategy="uniform")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
dummy_employee.score(df_employee_val, df_employee_val["Attrition"])

0.4936708860759494

In [8]:
from sklearn.model_selection import train_test_split
seed = 123
df_employee_train, df_employee_test = train_test_split(
    df_employee, test_size=0.3, random_state=seed)

df_employee_val, df_employee_test = train_test_split(
    df_employee, test_size=0.5, random_state=seed)

In [9]:
from sklearn.dummy import DummyClassifier

dummy_employee = DummyClassifier(strategy="most_frequent")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
train_score = dummy_employee.score(df_employee_train, df_employee_train["Attrition"])
test_score = dummy_employee.score(df_employee_test, df_employee_test["Attrition"])
print(f"Training Accuracy: {train_score}")
print(f"Test Accuracy: {test_score}")

Training Accuracy: 0.5045317220543807
Test Accuracy: 0.4936708860759494

In [10]:
dummy_employee = DummyClassifier(strategy="stratified")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
train_score = dummy_employee.score(df_employee_train, df_employee_train["Attrition"])
test_score = dummy_employee.score(df_employee_test, df_employee_test["Attrition"])
print(f"Training Accuracy: {train_score}")
print(f"Test Accuracy: {test_score}")

Training Accuracy: 0.48942598187311176
Test Accuracy: 0.4641350210970464

In [11]:
dummy_employee = DummyClassifier(strategy="uniform")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
train_score = dummy_employee.score(df_employee_train, df_employee_train["Attrition"])
test_score = dummy_employee.score(df_employee_test, df_employee_test["Attrition"])
print(f"Training Accuracy: {train_score}")
print(f"Test Accuracy: {test_score}")

Training Accuracy: 0.5105740181268882
Test Accuracy: 0.4810126582278481

In [13]:
dummy_employee = DummyClassifier(strategy="constant", constant= 0)
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
train_score = dummy_employee.score(df_employee_train, df_employee_train["Attrition"])
test_score = dummy_employee.score(df_employee_test, df_employee_test["Attrition"])
print(f"Training Accuracy: {train_score}")
print(f"Test Accuracy: {test_score}")

Training Accuracy: 0.4954682779456193
Test Accuracy: 0.5063291139240507